h3, h2{
  padding:0;
  margin:0;
}

h2, h3{
  color:#333;
  font-family: 'Roboto', sans-serif;
}

p, body, span{
  font-family: 'Open Sans', sans-serif;
}

.layout-container__header {
  color: #000;
  padding: 10px;
  background-color:#c7d711;
}

.layout-container{
  max-width:1000px;
  margin: 0 auto;
  padding: .25rem;
}

/* This modifies the main menu navigation of the site. */
.menu--main {
  background-color: #c7d711;
  color: #000;
  padding: 10px;
  flex-grow:1;
}


.menu--main ul{
  display:flex;
  flex-flow:row wrap;
  justify-content: flex-end;
}

.menu--main a{
  font-weight:700;
  text-decoration:none;
  color:#fff;
}

/* TODO: Media query @media screen and (max-width:425)*/
/* We obviously should do min width and make a min-width 426 but... yeah. */
.menu--main ul > li{

}

img{
  max-width:100%;
  height:auto;
}

.block-system-branding-block{
  display:flex;
  flex-direction:row;
  width:20%;
  flex-grow:1;
}

.menu--main .menu-item{
  padding: 0;
  margin-right: 1rem;

}

footer {
  background-color: #DFEE2D;
  color: #555;
  font-size: 11px;
  padding: .5em;
  text-align:center;
}

.half-width{
  width:50%;
}
.third-width{
  width:33%;
}

.quarter-width{
  width:25%;
}

.row{
  display:flex;
  flex-flow: row wrap;
  width:100%;
  align-content: space-between;
  padding:.25em;
}

.logo__header{
  max-width: 75px;
}

.one-half{
  flex-basis:50%;
}

.two-thirds{
  flex-basis: 63%;
  margin: 0 1%;
}

.one-third{
  flex-basis:31%;
  margin: 0 1%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-device-width : 480px) {
  /* Styles */
  .layout-sidebar-second{
    flex-basis:100%;
  }
  .house-content{
    flex-basis:100%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px) {
  .layout-sidebar-second{
    flex-basis:33%;
  }
  .house-content{
    max-width:500px;
  }
}

.block-webform-block{
  margin-top: 1em;
  padding:1em;
  border: 1px solid #c7d711;
  border-top: 5px solid #c7d711;
}

.webform-input-100{
  width:100%;
  display:block;
  height: 45px;
  border: 1px solid #ccc;
}

.block-webform-block > input[type=button]{
  width:150px;
  height:40px;
}

.site-content{
  display:flex;
  flex-wrap:wrap;
}

.mx-r{
  margin-right:1.5em;
}

.mx-l{
  margin-left:1.5em;
}

.button-main-theme{
  background: #DFEE2D;
  border: 1px solid #000000;
  box-sizing: border-box;
  flex-basis: 33%;

}