div{
  font-family:sans-serif;
}



.house-listing{
  width:300px;
  min-height:250px;
  background-color:teal;
  padding:.25rem;
  display: flex;
  align-items: flex-end;
  position:relative;
  margin:.5rem;
  border-bottom: 5px solid #DFEE2D;
}

.house-listing__info{
  background-color:white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: -.25rem;
  justify-content: space-between;
  padding: .25em;
  width:100%;
  position: relative;
}

.house-listing__image, .house-listing__image img{

}

.house-listing__image{

}

.house-listing__image img{
  width: 100%;
  height: 100%;
  position:absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.row{
  display:flex;
  flex-direction:row;
}

.font-bold{
  font-weight:700;
  margin-right:4px;
}

.house-listing__address{
  font-size:14px;
}

.space-between{
   justify-content: space-between;
}

.margin-right{
  margin-right:5px;
}

.house-no-deco, .house-no-deco:hover, .house-no-deco:visited{
  text-decoration: none;
  color:#000;
}


.house-listing a:hover{
  text-decoration:underline;
}

.house-type{
  color:#fff;
  background-color: #c7d711;
  text-decoration:none;
  padding:.3em;
  border-radius:50px;
  font-size:13px;
}

.house-type a{
  text-decoration: none;
  color:#fff;
  font-weight:700;
}

.border-right{
  border-right: 1px solid #ccc;
  padding-right:4px;
}
.border-right:last-of-type{
    border:0;
  }
.house-price{
  font-size:18px;
}

.view-id-frontpage > .view-content{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.house-listing__stats{
  border:1px solid #ccc;
}

.house-listing__stats--line-item{
  min-height: 35px;
  padding: 3px;
  width: 100%;
  display: flex;
}
.house-listing__stats--line-item span{
  display: block;
}

.house-listing__stats--line-item:nth-child(even){
  background-color:#ccc;
  border-bottom:1px solid #999;
}

.proto-house_page_left{
  border: 3px solid sienna;
  padding:.25em;
}