div{
  font-family:sans-serif;
}

.house-listing{
  width:250px;
  min-height:250px;
  background-color:teal;
  padding:.25rem;
  display: flex;
  align-items: flex-end;
  position:relative;
  margin: 1rem;
  border-bottom: 5px solid #DFEE2D;
}

.row.house_listing--header {
    align-items: flex-end;
    margin-bottom:.25em;
  }

.house_listing--description{
  line-height:1.75;
}

.house_listing--description p{
  font-size:14px;
}

.featured-homes .house-listing {
  border: 3px solid #DFEE2D;
  }

.house-listing__info{
  background-color:white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: -.25rem;
  justify-content: space-between;
  padding: .25em;
  width:100%;
  position: relative;
}

.house-listing__image, .house-listing__image img{

}

.house-listing__image{

}

.house-listing__image img{
  width: 100%;
  height: 100%;
  position:absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.font-bold{
  font-weight:700;
  margin-right:4px;
}

.house-listing__address{
  font-size:14px;
}

.space-between{
   justify-content: space-between;
}

.margin-right{
  margin-right:5px;
}

.house-no-deco, .house-no-deco:hover, .house-no-deco:visited{
  text-decoration: none;
  color:#000;
}


.house-listing a:hover{
  text-decoration:underline;
}

.house-type{
  color:#fff;
  background-color: #c7d711;
  text-decoration:none;
  padding:.3em;
  border-radius:50px;
  font-size:13px;
}

.house-type a{
  text-decoration: none;
  color:#fff;
  font-weight:700;
}

.border-right{
  border-right: 1px solid #ccc;
  padding-right:4px;
}
.border-right:last-of-type{
    border:0;
  }

.house-price{
  font-size:18px;
}

.view-content{
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 5%;
}

.house-listing__stats ul{
  padding:0;
  width:100%;
}

.house-listing__stats--line-item{
  min-height: 35px;
  padding: 3px;
  width: 100%;
  font-size:12px;
  display: flex;
}
.house-listing__stats--line-item li{
  display: block;
  font-size:14px;
}

.house-listing__sub-header{
  border-bottom: 2px solid #c7d711;
  width: 100%;
  padding-bottom: .25em;
}

.stat_name{
  font-weight:700;
}